<div class="section group">
  <div class="col span_2_of_3 panel left-panel about-me">
    <span class="left-panel-icon"><i class="fa fa-info-circle"></i></span>
    <p>I'm Dr Matthew Delaney, a computer scientist based in the Philadelphia area. I have a mixed academic/industrial background and my interests span many areas of computer science, from cellular-automata, constraint logic programming and DSLs through to Solr full-text search and modern web application development (Symfony 2, Django, ASP.NET MVC, Backbone, Angular, D3, etc.). I'm a programming-language geek and have, at one time or another, done serious work in C, C++, C#, Java, Visual Basic, Python, PHP, Ruby, JavaScript, Prolog and TCL as well as esoteric work in various others. Additionally I am well versed in HTML5, CSS3 and responsive design.</p>
    <p>My services are available in consultancy form. I like projects involving unusual technology and/or hard problems to solve.</p>
  </div>
  
  <div class="col span_1_of_3 panel contact">
    <p><a href="mailto:matt.delaney2@gmail.com"><i class="fa fa-envelope-square"></i>: Email</a></p>
    <p><a href="https://www.linkedin.com/pub/matthew-delaney/83/b13/630"><i class="fa fa-linkedin-square"></i>: LinkedIn</a></p>
    <p><a href="https://www.facebook.com/matthew.delaney.1447"><i class="fa fa-facebook-square"></i>: Facebook</a></p>
  </div>
  <div class="col span_3_of_3 footer-mobile">
    <center><i class="fa fa-copyright"></i> Matthew Delaney 2021</center>
  </div>
</div>
