<div class="section group">
  <div class="col span_3_of_3 panel left-panel">
    <span class="left-panel-icon"><i class="fa fa-file-text"></i></span>
    <p>
      <strong>Programming
        Languages</strong>
      <p>C, C++, Java, C#.NET, VB.NET,
        Ruby, JavaScript, PHP, CoffeeScript, ActionScript, Python, VBA,
        TCL, APL, J, Assembly Language (x86, IA32, IA64), AspectJ, Prolog,
        B-Prolog, GNU Octave, Nyquist (SAL and XLISP dialects),
        Supercollider, Racket, M4, MUMPS, Forth
      </p>
    </p>
    <p>
      <strong>Web/RIA
        development</strong>
      <p>HTML (including HTML 5), CSS,
        jQuery, jQueryUI, Backbone, Angular, Zurb Foundation, Bootstrap, ASP.NET,
        MVC3, Django, Flask, Zend, Symfony, Flash, Flex, XML, XSLT, JSON,
        OpenLaszlo
      </p>
    </p>
    <p>
      <strong>Mobile</strong>
      <p>Android</p>
    </p>
    <p>
      <strong>Data storage</strong>
      <p>Oracle, SQL Server, MySQL, PostgreSQL, SQL, PL/SQL, TSQL, Solr, Lucene, DB4O
      </p>
    </p>
    <p>
      <strong>APIs/Frameworks</strong>
      <p>DirectX, .NET, Silverlight,
        Win32, COM, MPI, RMI, JDBC, JNI, J2ME, SQLAlchemy
      </p>
    </p>
    <p>
      <strong>Systems Administration</strong>
      <p>Windows, UNIX, Linux, Mac OS X, DOS</p>
    </p>
    <p>
      <strong>Web Servers</strong>
      <p>Apache, IIS, Nginx, Gunicorn</p>
    </p>
    <p>
      <strong>Software Design Techniques</strong>
      <p>UML, Design Patterns,
        Refactoring, Test-driven Development (JUnit), Domain Specific
        Languages
      </p>
    </p>
    <p>
      <strong>Project Management</strong>
      <p>Agile/Scrum, Waterfall</p>
    </p>
    <p>
      <strong>Software packages</strong>
      <p>Microsoft Visual Studio,
        Microsoft Office, GIMP, Audacity, Flash, Microsoft Expression
        Studio, Eclipse
      </p>
    </p>
  </div>
  <div class="col span_3_of_3 footer-mobile">
    <center><i class="fa fa-copyright"></i> Matthew Delaney 2020</center>
  </div>
</div>
