<script language="javascript" src="../js/Hexagon.js"></script>
<script language="javascript" src="../js/Hexcellent.js"></script>
<script language="javascript" src="../js/HexcellentInit.js"></script>

<div class="section group">
  <div class="col span_2_of_3 panel left-panel">
    <span class="left-panel-icon"><i class="fa fa-globe"></i></span>
    <p>
      <strong>Xpress Pizza &amp; Grill</strong>
      <p>
        An ecommerce website built using Drupal Commerce and Commerce Kickstart.
      </p>
      <p class="software-demo">
        <img class="link-image" src="../img/xpress_homepage_small.png">
      </p>
    </p>
  </div>
  
  <div class="col span_1_of_3 panel contact contact-github">
    <p><a href="http://www.github.com/matthewdelaney"><i class="fa fa-github-alt"></i>:&nbsp;Check me out on&nbsp;<strong>Github</strong></a></p>
  </div>
</div>

<div class="section group">
  <div class="col span_2_of_3 panel left-panel">
    <span class="left-panel-icon"><i class="fa fa-file-code-o"></i></span>    
    <p>
      <strong>Hexcellent</strong>
      <p>
        A hexagonal-grid library written in JavaScript and making use of the HTML5 canvas element. Live demo below
      </p>
      <canvas class="hexcellent-demo" height=250 width=290 id="mainCanvas">You'll need an HTML5-compliant browser to view this demo.</canvas>
    </p>
  </div>

  <div class="col span_3_of_3 footer-mobile">
    <center><i class="fa fa-copyright"></i> Matthew Delaney 2021</center>
  </div>
</div>
